{% extends 'main.html' %}
{% block content %}
<div class="custom-content">
    <header>
        {% if user.is_authenticated %}
        <a href="{% url 'user' user.id %}">Профиль</a>
        {% else %}
        <a href="{% url 'login' %}">Войти</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'cart:cart_detail' %}">Корзина</a>
        {% else %}
        <a href="{% url 'login' %}?next={% url 'welcome' %}">Корзина</a>
        {% endif %}
    </header>
    <div class="search-bar">
        <ul class="categories">
            {% for category in categories %}
            <li class="category">
                <a href="{% url 'category_products' category.category_id %}">
                    {{ category.category_name }}</a>
            </li>
            {% endfor %}
        </ul>
        <form id="search-form" method="get"
              action="{% url 'search_products' %}">
            {% csrf_token %}
            <input type="text" id="q" name="q" placeholder="Поиск товаров">
            <button type="submit">Поиск</button>
        </form>
<!--        <div id="search-results"></div>-->
    </div>
</div>
{% endblock  %}
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('#q').on('input', function() {-->
<!--            var query = $(this).val();-->
<!--            if (query.length >= 2) {-->
<!--                $.ajax({-->
<!--                    type: 'GET',-->
<!--                    url: '/search/',  // Замените на свой URL-путь к представлению поиска-->
<!--                    data: {'query': query,'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()},-->
<!--                    success: function(data) {-->
<!--                        $('#search-results').html(data);-->
<!--                    }-->
<!--                });-->
<!--            } else {-->
<!--                $('#search-results').html('');-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->