{% load static %}
{% block content %}
<div class="custom-content">
    <div class="products">
        <h1>{{ product.prod_name }}</h1>
        <img src="{{ product.prod_photo }}" alt="{{ product.prod_name }}"
             width="270" height="290">
        <p>{{ product.prod_description }}</p>
        <p>Цена: {{ product.prod_sell_price }}</p>
        {% if max_quantity > 0 %}
            <form action="{% url 'cart:cart_add' product.product_id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="В корзину">
            </form>
        {% else %}
            <p>Извините, товар закончился.</p>
        {% endif %}
    </div>
</div>
{% endblock %}