{% load static %}
{% block content %}
{% include 'header.html' %}
<div class="custom-content">
    <h1>Популярное</h1>
    <div class="products">
        {% for product in products %}
        <div class="product">
            <a href="{% url 'product_detail' product.product_id %}">
                <img src="{{ product.prod_photo_thumbnail }}"
                     alt="Картинка товара скоро появится">
                <div class="product-info">
                    <p>{{ product.prod_name }}</p>
                    <p>Цена: {{ product.prod_sell_price }}  ₽</p>
                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
