{% load static %}
{% block content %}
{% include 'header.html' %}
<div class="custom-content">
<h2>Ваши заказы</h2>
{% if orders_data %}
{% for order in orders_data %}
<h5>Номер заказа: {{ order.order_id }}.          Дата: {{order.order_date}}.
          Статус: {{ order.status }}</h5>
<table class="order">
    <thead>
    <tr>
        <th>Изображение</th>
        <th>Товар</th>
        <th>Количество</th>
        <th>Цена за штуку</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.items %}
    <tr>
        <td>
            <a href="{{ item.product.get_absolute_url }}">
                <img src="{{ item.prod_photo }} "
                     alt="Картинка скоро появится">
            </a>
        </td>
        <td>{{ item.product_name }}</td>
        <td>{{ item.amount }}</td>
        <td class="num">{{ item.price }}</td>
        <td class="num">{{ item.total_price }}</td>
    </tr>
    {% endfor %}
    <tr class="total">
        <td>Всего</td>
        <td colspan="3"></td>
        <td class="num">{{ order.full_price }}</td>
    </tr>
    </tbody>
</table>
{% endfor %}
{% else %}
<p>У вас пока нет заказов. <a href="{% url 'welcome' %}">Вернуться к покупкам</a>.
</p>
{% endif %}
</div>
{% endblock %}
